* {
    margin: 0;
    padding: 0;

}


/*cabeçalho inicio*/
#cabecalho_inicio {
    width: 100%;
    background-color: black;
    padding: 30px;
}

#cabecalho_inicio,
a {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    gap: 30px;
    justify-content: center;
    margin-top: 15px;

}

#cabecalho_inicio img {
    height: 60px;
    /* Ajuste conforme necessário */
    width: auto;
    position: absolute;
    left: 30px;
    /* Garante que a logo fique na esquerda */
}

/*-- Inicio -*/
header img {

    width: 100%;
    height: 600px;

}

.container_inicio {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 120px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.realizamos {

    margin-top: 20px;
}

.assessoria {

    margin-right: 200px;
    margin-top: 20px;
}

.assessoria p {
    margin-top: 15px;
    width: 500px;
    margin-left: 25px;
    text-align: justify;
}

.assessoria h2 {
    margin-left: 24px;
    text-align: justify;
    width: 500px;
}

.realizamos ul {

    margin-top: 40px;
}

.realizamos li {
    list-style: inside;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-- Sobre -*/
.sobre {
    background-color: #000;
    width: 100%;
    height: 1060px;
    color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: lighter;
}

.img_txt img {

    width: 12%;
    border-radius: 60%;
    margin-top: 50px;
    margin-left: 45px;
}

.img_txt p {

    text-align: justify;
    margin-left: 340px;
    margin-top: -140px;
    width: 78%;

}

.img_sobre img {

    width: 100%;
    height: 500px;
}

.funcao p,
h3 {
    margin-top: 62px;
    margin-left: 60px;
}

.funcao p {
    margin-top: 10px;
    margin-left: 30px;
    width: 15%;
    text-align: justify;
}

.txt_empresa {
    margin-left: 30px;
    margin-top: 20px;
}

.txt_empresa p {
    margin-top: 13px;
    width: 96%;
}


/* -----------------------------*/


body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    margin-top: -30px;
}

h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-justify: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
}

footer {
    text-align: center;
    background-color: black;
    padding: 0.5rem;
}


li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 32, 32);
    margin-bottom: 4.0rem;
}

/* ------- Eventos -------*/
input#search {
    width: 35%;
    height: 40px;
    padding: 0 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-top: -50px;
}

.container_pesquisar {
    margin-top: -30px;
    width: 100%;
    justify-content: center;
}


#cabecalho_eventos {
    background-color: rgb(18, 25, 65);
    padding: 2.7rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    margin-right: auto;

}

#orcamento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

}


#orcamento a {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    color: white;
    width: 10%;
    background-color: rgb(30, 40, 80);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    margin-left: 40px;
}

#orcamento a:hover {
    transform: translateY(-1px);
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.4);
}

.card {
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin: 1rem;
    background-color: transparent;
}



.card img {
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 16px;
}

.card h5 {
    margin-top: 7px;
    margin-left: 27px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    transform: translateY(-5px);
}

/* -----------------------------*/



/* ------- Página dos eventos -------*/

#evento-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.imagem-evento img {
    width: 1150px;
    height: 630px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}


.texto_evento h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0px;
}

.texto_evento p {
    font-size: 1.3rem;
    color: #2b2828;
    text-align: justify;
    width: 60%;
    margin-top: 16px;
    margin-left: 380px;
}

/* -----------------------------*/

/* ------- rodapé -------*/

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: black;
    margin-top: 17px;
}


.rodape .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-right: 80px;
    margin-top: 15px;
}

.rodape p,
a#btt_whats {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.rodape a#btt_insta {
    padding: 0;
    background-color: transparent;
}

.rodape a {
    padding: 6px;
    background-color: rgb(5, 133, 245);
    border-radius: 20px;
    width: 130px;

}

.rodape a:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.footer_nomes h3 {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 10px;
    font-style: italic;
}

/*Orçamentos*/

.body_orcamento {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-top: -20px;
}

.container_orcamento {
    max-width: 700px;
    margin: 50px auto;
    background-color: #1b2a4e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container_orcamento h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}


.formulário-group {
    margin-bottom: 15px;
    max-width: 700px;
    margin: 5px auto;
    padding: 10px;
}

.formulário-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.formulário-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.evento-pagamento {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}

.TiposDeEventos-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.TiposDeEventos-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    width: 250px;
}

.TiposDeEventos-group input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #1b2a4e;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.TiposDeEventos-group input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TiposDeEventos-group input[type="checkbox"]:checked {
    background-color: #1b2a4e;
}

.pagamento-icons {
    display: flex;
    flex-direction: column;
}

.icons-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.pagamento-icons img {
    width: 40px;
    height: auto;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.botoes input {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"],
input[type="reset"] {
    background-color: #1b2a4e;
    color: #FFF;
    border: 0;
    border-radius: 5px;
}

input[type="reset"] {
    background-color: #CCC;
}

.rodape_orcamento {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: black;
    margin-top: 17px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#btt_back {
    background-color: transparent;
    width: 10%;
    margin-top: -46px;
    margin-left: 10px;
}


@media screen and (max-width: 520px) {
    /* Cabeçalho */

    * {
        margin: 0;
        padding: 0;
    }

    body{
        overflow-x: hidden;

    }

    #cabecalho_inicio {
        padding: 30px;
        height: 35px;
        width: 640px;
    }

    #cabecalho_inicio a {
        font-size: medium;
        display: flex;
        justify-content: center;
        margin-right: -3px;
    }

    #cabecalho_inicio img {
        height: 40px;
        left: 80px;
        top: 22px;
    }

    /* Imagem do cabeçalho */
    header img {
        height: 250px;
        width: 700px;
    }

    /* Seção de Introdução */
    .container_inicio {
        height: 350px;
        font-size: large;
        margin: 40px 40px 130px 20px;
        display: grid;
        justify-items: center;
        justify-content: center;
        
    }

    .assessoria{
        margin-left: 400px;
    }

    .realizamos{
        margin-left: 220px;
    }

    .realizamos ul{
        margin-top: 20px;
    }

        .funcao p {
            width: 90%;
        }

        /* Seção "Sobre" */
        .sobre {
            height: auto;
            padding:5px;
            width: 690px;
        }

        .img_txt img {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .img_txt p {
            width: 95%;
            margin: 20px auto;
            text-align: justify;
        }

        .img_sobre img {
            height: auto;
            margin-top: 30px;
        }

        /* Funções e Empresa */
        .funcao p, .funcao h3 {
            margin: 20px;
            text-align: center;
            margin-left: 20px;
        }

        .txt_empresa p {
            width: 100%;
            margin-left: -15px;
            text-align: justify;
        }

        .txt_empresa h2{
            margin-left: -16px;
        }

        /* Botão de orçamento */
        #orcamento a {
            width: 69%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        /* Cards de eventos */
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 1100px;
            margin: 0 auto;
            margin-right: auto;
        }

        #cabecalho_eventos{
            width: 615px;
        }


        input#search {

            margin-left: 200px;
            width: 55%;
        }

        .card{
            margin-left: 64px;
        }

        .card img {
            width: 220px;

        }

        .card h5 {
            width: 90%;
            font-size: medium;
        }

        #orcamento {
            width: 64%;
            margin-left: 220px;
        }

        /* Página dos eventos */

        


        .imagem-evento img {
            width: 100%;
            height: auto;
            margin-left: 130px;
        }

        .texto_evento p {
            width: 90%;
            margin-left: 150px;

        }

        .texto_evento h2 {
            width: 100%;
            margin-left: 127px;
            font-size: x-large;
        }

        /* Rodapé */
        .rodape {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 682px;
        }

        .footer_nomes{
            width: 685px;
            
        }

        .rodape .icon {
            margin-right: auto;
        }

        .rodape a {
            width: 70%;
        }

        .container_orcamento{
            width: 468px;

        }

        .body_orcamento{
            margin-right: -290px;
        }

        form{
            width: 77%;
        }

        .formulário-group{
            margin-left: 90px;
        }

        .botoes{
            margin-left: 80px;
            width: 80%;
        }








        .container_orcamento h1{
            margin-top: 15px;
        }

        .pagamento-icons{
            margin-left: -60px;
        }
    }