* {
    margin: 20px;
}

#cabecalho_inicio {
    background-color: black;
    padding: 1.5rem;
    text-align: center;
}

#cabecalho_eventos {
    background-color: rgb(18, 25, 65);
    padding: 5px;
    text-align: center;
}

.container_pesquisar{
    margin-top: -30px;
    width: 100%;
    justify-content: center;
}

input#search {
    width: 35%;
    height: 40px;
    padding: 0 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-top: -50px;
}

body {
    background-color: rgb(255, 255, 255);
}

h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-justify: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
}

footer {
    text-align: center;
    background-color: black;
    padding: 1.5rem;
}

button {
    padding: 6px;
    border-radius: 10%;
    color: black;
}

ul {}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(76, 133, 184);
    margin-bottom: 4.0rem;
}

img {
    margin-left: 3.2rem;
    border-radius: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
    gap: 5px; /* Espaçamento entre os cards */
    margin: 0px; /* Margem ao redor do container */
    justify-items: center; /* Centraliza os cards */
    align-items: center; /* Alinha os cards verticalmente */
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    width: 68%; 
    margin: 0;
}

.card img {
    width: 80%;
    border-radius: 15px;
}

.card h5 {
    margin-top: -15px;
    margin-left: 15px;
    margin-right: -15px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.card .btn {
    width: 20%;
    padding: 5px;
    background-color: #707377;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    margin-top: -70px;
    margin-left: -200px;
}
